.btn-custom {
  color: #ffffff;
  background-color: #4a8246;
  border-color: #4a8246;
  margin: 2px;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active:focus,
.btn-custom:active,
.btn-custom.active,
.open > .dropdown-toggle.btn-custom {
  color: #ffffff;
  background-color: #005f50;
  border-color: #005f50;
  outline: 0;
}

.progress-bar {
  background-color: #4a8246;
}

.hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}